.faq-minor-wrapper {
  display: flex;
  flex-direction: column;
}
.faq-major {
  display: inline-bolock;
  margin: 30px 0px 20px 0px;
  font-family: 'SDSamliphopangche_Basic';
  font-size: 45px;
}
.faq-minor-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  height: auto;
  width: 98%;
  padding: 10px 15px;
  margin-bottom: 15px;
}
.faq-minor {
  padding: 3px 5px;
  margin: 7px 15px;
  /* border: 0.5px solid white; */
  text-align: center;

  font-family: 'SDSamliphopangche_Basic';
  font-size: 21px;
  color: var(--light-brown);
}
.faq-minor:hover {
  color: var(--mint);
}
.faq-minor.faq-minor-selected {
  color: var(--deep-brown);
  font-weight: 600;
}

.page {
  display: flex;
  justify-content: center;
  width: 2000px;
  padding: 0xp;
  margin: 0px auto;
}

.page .faq-wrapper {
  margin: 5px 0px 0px 40px;
  padding: 0px 80px 0px 20px;
  width: 1420px;
  height: 100%;
}
.bottom.pagination {
  width: 350px;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
