.join {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    font-family: "SDSamliphopangche_Basic";
    font-size: 40px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    letter-spacing: 4px;

    width: calc(100vw / 2);
    height: calc(100vw / 2);

    &:hover {
      cursor: pointer;
    }
  }

  .login-client-entrance {
    background-color: #675d50;
  }

  .login-lawyer-entrance {
    background-color: #aa9e8f;
  }
}

// Join Form 영역

.join-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  //   height: calc(100vh);
  height: 100%;
  .join-header {
    color: #000;
    text-align: center;
    font-family: "SDSamliphopangche_Basic";
    font-size: 40px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
  }

  .join-form {
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;

    div {
      width: 769px;
      padding: 20px 0 0 0;
      margin-bottom: 10px;
      .MuiInputBase-root {
        height: 50px !important;
      }

      input,
      div {
        color: #000;
        font-family: "SDSamliphopangche_Basic";
        font-size: 25px;
        font-style: normal;
        font-weight: 550;
        line-height: normal;
      }
      div {
        text-align: left;
      }
      p {
        color: red;
        text-align: left;
        font-size: 15px;
        font-family: "SDSamliphopangche_Basic";
      }
    }
  }

  .join-button {
    margin-top: 50px;
    width: 504.81px;
    height: 68px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--light-brown, #aa9e8f);
    color: #fff !important;
    font-family: "SDSamliphopangche_Basic";
    font-size: 30px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
  }

  .input-button {
    // margin-top: 50px;
    margin-left: -120px;
    width: auto;
    height: 40px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--light-brown, #aa9e8f);
    color: #fff !important;
    font-family: "SDSamliphopangche_Basic";
    font-size: 25px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    position: absolute;
  }
}
