.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    font-family: 'SDSamliphopangche_Basic';
    font-size: 40px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    letter-spacing: 4px;

    width: calc(100vw / 2);
    height: calc(100vw / 2);

    &:hover {
      cursor: pointer;
    }
  }

  .login-client-entrance {
    background-color: #675d50;
  }

  .login-lawyer-entrance {
    background-color: #aa9e8f;
  }
}

// Login Form 영역
.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh);
  .login-header {
    color: #000;
    text-align: center;
    font-family: 'SDSamliphopangche_Basic';
    font-size: 40px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
  }
  .login-form {
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    div {
      width: 769px;
      padding: 20px 0 0 0;
      margin-bottom: 10px;
      .MuiInputBase-root {
        height: 50px !important;
      }
      label {
        color: #000;
        font-family: 'SDSamliphopangche_Basic';
        font-size: 30px;
        font-style: normal;
        font-weight: 550;
        line-height: normal;
      }
      input {
        color: #000;
        font-family: 'SDSamliphopangche_Basic';
        font-size: 25px;
        font-style: normal;
        font-weight: 550;
        line-height: normal;
      }
    }
  }
  .login-button {
    margin-top: 50px;
    width: 504.81px;
    height: 68px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--light-brown, #aa9e8f);
    color: #fff !important;
    font-family: 'SDSamliphopangche_Basic';
    font-size: 30px;
    font-weight: 550;
    font-style: normal;
    line-height: normal;
  }

  .login-btn-apis {
    img {
      margin: 0 10px;
      width: 245px;
      height: 65px;
      flex-shrink: 0;
    }
  }

  .Join-button {
    margin: 0 10px;
    width: 150px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--light-brown, #aa9e8f);
    color: #fff !important;
    font-family: 'SDSamliphopangche_Basic';
    font-size: 22px;
    font-weight: 550;
    font-style: normal;
    line-height: normal;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }
}
