.page {
  display: flex;
  justify-content: center;
  width: 2000px;
  padding: 0xp;
  margin: 0px auto;
}
.page .page-content-wrapper {
  margin: 5px 0px 0px 40px;
  padding: 0px 0px 0px 20px;
  width: 1420px;
}
