.menudisign3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #efecec;
  width: 115px;
  height: 507.5px;
}
/*제목 텍스트*/
.group3,
.title3 {
  position: absolute;
  left: 22px;
  width: 70px;
  font-family: 'SDSamliphopangcheTTFBasic.ttf';
}
.title3 {
  top: 26px;
  display: inline-block;
  height: 22.1px;
}
.group3 {
  top: 76px;
}
/*분류 텍스트*/
.context3,
.file3,
.group3 {
  display: inline-block;
  height: 22.1px;
  font-family: 'SDSamliphopangcheTTFBasic.ttf';
}
.context3 {
  position: absolute;
  top: 125px;
  left: 22px;
  width: 70px;
  font-family: 'SDSamliphopangcheTTFBasic.ttf';
}
.file3 {
  top: 451px;
  left: 2px;
  width: 110px;
  font-family: 'SDSamliphopangcheTTFBasic.ttf';
}
.file3,
.fileadd3,
.menu3 {
  position: absolute;
}
.answerlinktext3 {
  font-family: 'SDSamliphopangcheTTFBasic.ttf';
}
.menu3 {
  top: 322px;
  left: 92px;
  width: 115px;
  height: 507.5px;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.fileadd3 {
  top: 741px;
  left: 228px;
  background-color: #cacaca;
  width: 87px;
  height: 77px;
}
.contextdesign3,
.deepwrite-child3 {
  position: absolute;
  top: 741.1px;
  left: 336px;
  width: 87px;
  height: 76.5px;
}
.contextdesign3 {
  top: 0;
  left: 0;
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 1097px;
  height: 294.8px;
}
.p3 {
  margin: 0;
  line-height: 120%;
}
.blank-line3 {
  margin: 0;
  font-size: var(--font-size-xl);
  line-height: 15px;
}
.contextinputplaceholder3 {
  position: absolute;
  top: -42px;
  left: 0px;
  display: inline-block;
  width: 1072px;
  height: 325px;
  font-size: 18px;
  font-family: 'SDSamliphopangcheTTFBasic.ttf';
}

.contextinputplaceholder3::placeholder {
  font-family: 'SDSamliphopangcheTTFBasic.ttf';
  font-size: 18px;
}

.contextinput3,
.titledesign3 {
  position: absolute;
  width: 1097px;
}
.contextinput3 {
  top: 436.2px;
  left: 233px;
  height: 294.8px;
  text-align: left;
}
.titledesign3 {
  top: 0;
  left: 0;
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  height: 41.5px;
}
.titleinputplaceholder3 {
  position: absolute;
  top: -5px;
  left: 0px;
  line-height: 120%;
  display: flex;
  align-items: center;
  width: 1072px;
  height: 41.45px;
  font-size: 18px;
  font-family: 'SDSamliphopangcheTTFBasic.ttf';
}

.titleinputplaceholder3::placeholder {
  font-family: 'SDSamliphopangcheTTFBasic.ttf';
  font-size: 18px;
}

.groupdesign3,
.titleinput3 {
  position: absolute;
  height: 41.5px;
}
.titleinput3 {
  top: 335.8px;
  left: 233px;
  width: 1090px;
  text-align: left;
}
.groupdesign3 {
  top: 0px;
  left: 0;
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 265px;
}

.answerbtn3,
.registerbtndesign3 {
  position: absolute;
  height: 46.1px;
}
.answerbtn3 {
  top: 382.8px;
  left: 513px;
  width: 335px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-sandoll-samliphopangche);
}

.maintext3 {
  position: relative;
  letter-spacing: 0.1em;
  display: inline-block;
  width: 250px;
  height: 28.6px;
  flex-shrink: 0;
  z-index: 0;
  font-family: 'SDSamliphopangcheTTFBasic.ttf';
}
.p33 {
  margin: 0;
  font-family: 'SDSamliphopangcheTTFOutline.ttf';
}
.information3 {
  position: relative;
  font-size: 17px;
  letter-spacing: 0.1em;
  line-height: 20px;
  font-family: var(--font-sandoll-samliphopangche-ttf);
  color: var(--color-gray);
  display: inline-block;
  width: 1240px;
  height: 70px;
  flex-shrink: 0;
  z-index: 1;
}
.informationline3 {
  position: absolute;
  margin: 0 !important;
  top: 164.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1220px;
  height: 1px;
  z-index: 2;
}
.main3 {
  position: absolute;
  top: 143px;
  left: 92px;
  height: 165px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 39px;
  text-align: left;
  font-size: 40px;
  color: var(--color-black);
}

.registerbtn3,
.registerbtndesign3 {
  position: absolute;
  width: 180px;
  height: 46.1px;
}
.registerbtn3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--light-brown);
  top: 847.9px;
  left: 570px;
  border-radius: var(--br-3xs);
  color: white;
}

.registerbtntext3 {
  position: absolute;
  top: 13.1px;
  left: 30px;
  letter-spacing: 0.2em;
  display: inline-block;
  width: 120px;
  height: 20.3px;
  font-family: 'SDSamliphopangcheTTFBasic.ttf';
  font-size: 20px;
}

.cancelbtn3,
.cancelbtndesign3 {
  position: absolute;
  width: 180px;
  height: 46.1px;
}

.cancelbtn3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #d8cec2;
  top: 847.9px;
  left: 777px;
  border-radius: var(--br-3xs);
  color: white;
}

.cancelbtntext3 {
  position: absolute;
  top: 13.1px;
  left: 30px;
  letter-spacing: 0.2em;
  display: inline-block;
  width: 120px;
  height: 20.3px;
  font-family: 'SDSamliphopangcheTTFBasic.ttf';
  font-size: 20px;
}

.deepwrite3 {
  background-color: var(--color-white);
  width: 1440px;
  height: 894px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-gray);
  font-family: var(--font-abeezee);
  transform: translate(40%, 0.2%);
}

.image-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.OOTDWrite-input-file {
  margin-top: 10px;
  padding: 6px 15px;
  background-color: #929292; /* Adjust the color to your preference */
  border-radius: 20px;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  width: 130px;
  height: 50px;
  transform: translate(1150px, 730px);
  justify-content: center;
  font-family: 'SDSamliphopangcheTTFBasic.ttf';
}

.image-preview-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-preview {
  max-width: 300px;
  max-height: 100px;
  margin: 5px;
  border-radius: 5px;
}
