.menudisign {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #efecec;
  width: 115px;
  height: 507.5px;
}
/*제목 텍스트*/
.group,
.title {
  position: absolute;
  left: 22px;
  width: 70px;
  font-family: 'SDSamliphopangcheTTFBasic.ttf';
}
.title {
  top: 26px;
  display: inline-block;
  height: 22.1px;
}
.group {
  top: 76px;
}
/*분류 텍스트*/
.context,
.file,
.group {
  display: inline-block;
  height: 22.1px;
  font-family: 'SDSamliphopangcheTTFBasic.ttf';
}
.context {
  position: absolute;
  top: 125px;
  left: 22px;
  width: 70px;
  font-family: 'SDSamliphopangcheTTFBasic.ttf';
}
.file {
  top: 451px;
  left: 2px;
  width: 110px;
  font-family: 'SDSamliphopangcheTTFBasic.ttf';
}
.file,
.fileadd,
.menu {
  position: absolute;
}
.answerlinktext {
  font-family: 'SDSamliphopangcheTTFBasic.ttf';
}
.menu {
  top: 322px;
  left: 92px;
  width: 115px;
  height: 507.5px;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.fileadd {
  top: 741px;
  left: 228px;
  background-color: #cacaca;
  width: 87px;
  height: 77px;
}
.contextdesign,
.onlinewrite-child {
  position: absolute;
  top: 741.1px;
  left: 336px;
  width: 87px;
  height: 76.5px;
}
.contextdesign {
  top: 0;
  left: 0;
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 1097px;
  height: 294.8px;
}
.p {
  margin: 0;
  line-height: 120%;
}
.blank-line {
  margin: 0;
  font-size: var(--font-size-xl);
  line-height: 15px;
}
.contextinputplaceholder {
  position: absolute;
  top: 11.1px;
  left: 0px;
  display: inline-block;
  width: 1072px;
  height: 276.3px;
  font-size: 18px;
  font-family: 'SDSamliphopangcheTTFBasic.ttf';
}

.contextinputplaceholder::placeholder {
  font-family: 'SDSamliphopangcheTTFBasic.ttf';
  font-size: 18px;
}

.contextinput,
.titledesign {
  position: absolute;
  width: 1097px;
}
.contextinput {
  top: 436.2px;
  left: 233px;
  height: 294.8px;
  text-align: left;
}
.titledesign {
  top: 0;
  left: 0;
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  height: 41.5px;
}
.titleinputplaceholder {
  position: absolute;
  top: -5px;
  left: 0px;
  line-height: 120%;
  display: flex;
  align-items: center;
  width: 1072px;
  height: 41.45px;
  font-size: 18px;
  font-family: 'SDSamliphopangcheTTFBasic.ttf';
}

.titleinputplaceholder::placeholder {
  font-family: 'SDSamliphopangcheTTFBasic.ttf';
  font-size: 18px;
}

.groupdesign,
.titleinput {
  position: absolute;
  height: 41.5px;
}
.titleinput {
  top: 335.8px;
  left: 233px;
  width: 1090px;
  text-align: left;
}
.groupdesign {
  top: 0px;
  left: 0;
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 265px;
}
.groupinputplaceholder {
  position: absolute;
  top: 3px;
  left: 0px;
  line-height: 120%;
  display: flex;
  align-items: center;
  width: 265px;
  height: 41.5px;
  font-size: 18px;
  font-family: 'SDSamliphopangcheTTFBasic.ttf';
  color: #707070;
}

.groupinputplaceholder::placeholder {
  font-family: 'SDSamliphopangcheTTFOutline.ttf';
  font-size: 18px;
}

.groupinput {
  position: absolute;
  top: 385.5px;
  left: 233px;
  width: 265px;
  height: 41.5px;
  text-align: left;
}
.answerdesign {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gray);
  position: absolute;
  top: 6px;
  left: 3px;
  border-radius: var(--br-3xs);
  width: 335px;
  height: 46.1px;
}
.answerlinkbutton {
  position: absolute;
  top: 7px;
  left: 2px;
  letter-spacing: 0.2em;
  display: inline-block;
  width: 335px;
  height: 46.06px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: 'SDSamliphopangcheTTFBasic.ttf';
  color: white;
  font-size: 18px;
  text-align: center; /* Center the text horizontally */
  line-height: 46.06px; /* Center the text vertically */
}

.answerbtn,
.registerbtndesign {
  position: absolute;
  height: 46.1px;
}
.answerbtn {
  top: 382.8px;
  left: 513px;
  width: 335px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-sandoll-samliphopangche);
}

.maintext {
  position: relative;
  letter-spacing: 0.1em;
  display: inline-block;
  width: 250px;
  height: 28.6px;
  flex-shrink: 0;
  z-index: 0;
  font-family: 'SDSamliphopangcheTTFBasic.ttf';
}
.p3 {
  margin: 0;
  font-family: 'SDSamliphopangcheTTFOutline.ttf';
}
.information {
  position: relative;
  font-size: 17px;
  letter-spacing: 0.1em;
  line-height: 20px;
  font-family: var(--font-sandoll-samliphopangche-ttf);
  color: var(--color-gray);
  display: inline-block;
  width: 1240px;
  height: 70px;
  flex-shrink: 0;
  z-index: 1;
}
.informationline {
  position: absolute;
  margin: 0 !important;
  top: 164.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1242px;
  height: 1px;
  z-index: 2;
}
.main {
  position: absolute;
  top: 143px;
  left: 92px;
  height: 165px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 39px;
  text-align: left;
  font-size: 40px;
  color: var(--color-black);
}

.registerbtn,
.registerbtndesign {
  position: absolute;
  width: 180px;
  height: 46.1px;
}
.registerbtn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--light-brown);
  top: 847.9px;
  left: 570px;
  border-radius: var(--br-3xs);
  color: white;
}

.registerbtntext {
  position: absolute;
  top: 13.1px;
  left: 30px;
  letter-spacing: 0.2em;
  display: inline-block;
  width: 120px;
  height: 20.3px;
  font-family: 'SDSamliphopangcheTTFBasic.ttf';
  font-size: 20px;
}

.cancelbtn,
.cancelbtndesign {
  position: absolute;
  width: 180px;
  height: 46.1px;
}

.cancelbtn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #d8cec2;
  top: 847.9px;
  left: 777px;
  border-radius: var(--br-3xs);
  color: white;
}

.cancelbtntext {
  position: absolute;
  top: 13.1px;
  left: 30px;
  letter-spacing: 0.2em;
  display: inline-block;
  width: 120px;
  height: 20.3px;
  font-family: 'SDSamliphopangcheTTFBasic.ttf';
  font-size: 20px;
}

.onlinewrite {
  background-color: var(--color-white);
  width: 1440px;
  height: 894px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-gray);
  font-family: var(--font-abeezee);
  transform: translate(42%, -3.3%);
  z-index: 20;
  position: relative;
}

.image-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.OOTDWrite-input-file2 {
  margin-top: 10px;
  padding: 6px 15px;
  background-color: #929292; /* Adjust the color to your preference */
  border-radius: 20px;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  width: 130px;
  height: 50px;
  transform: translate(1160px, 730px);
  justify-content: center;
  font-family: 'SDSamliphopangcheTTFBasic.ttf';
  font-size: 20px;
}

.image-preview-container {
  display: flexnn;
  flex-wrap: wrap;
  justify-content: center;
}

.image-preview {
  max-width: 300px;
  max-height: 100px;
  margin: 5px;
  border-radius: 5px;
}
