.lawyer-modify-section {
  min-height: 70vh;
  flex-direction: column;
  justify-content: center;
  width: 1420px;
}

.lawyerModify {
  border: 1px solid var(--color-white);
  box-sizing: border-box;

  width: 100%;
  height: 100%;

  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-sandoll-samliphopangche);
  font-size: 30px;

  transform: translate(10%, 0%);

  top: 0px;
  left: 0px;

  /* 회원정보 제목 부분 */
  .titlebox {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 950px;
    height: 70px;
    transform: translate(0%, 5%);
    border-bottom: 1px solid gray;
    text-align: center;
    font-family: SDSamliphopangche_Basic;
    font-size: 36px;
    color: var(--deep-brown);
  }

  /* 아이디, 비밀번호, ... 글씨 부분 */
  .m-title {
    position: absolute;
    width: 240px;
    height: 30px;
    left: 32px;
    font-family: SDSamliphopangche_Basic;
    color: var(--deep-brown);
  }

  .m-title.name {
    top: 166px;
  }

  .m-title.id {
    top: 266px;
  }

  .m-title.password {
    top: 366px;
  }

  .m-title.pwCheck {
    top: 466px;
  }

  .m-title.email {
    top: 566px;
  }

  .m-title.approval {
    top: 666px;
  }

  /* input box 부분 */
  .formBox.inputBox {
    position: absolute;
    box-sizing: border-box;
    width: 434px;
    height: 40px;
    left: 380px;
    font-size: 22px;
  }

  .formBox.inputBox.name-input {
    top: 160px;
    color: gray;
  }

  .formBox.inputBox.lawyerId-input {
    top: 260px;
    color: gray;
  }

  .formBox.inputBox.password-input {
    top: 360px;
    border: 1px solid darkgray;
    background-color: var(--color-white);
  }

  .formBox.inputBox.pwCheck-input {
    top: 460px;
    border: 1px solid darkgray;
    background-color: var(--color-white);
  }

  .formBox.inputBox.email-input {
    top: 560px;
    color: gray;
  }

  .formBox.inputBox.approval-input {
    top: 660px;
    color: gray;
  }

  /* 메세지 부분 */
  .msg {
    position: absolute;
    left: 380px;
    font-size: 15px;
  }

  .msg.nickname {
    top: 505px;
  }

  .msg.password {
    top: 405px;
  }

  .msg.pwCheck {
    top: 508px;
  }

  /* 버튼 부분 */
  .btn {
    cursor: pointer;
    border: 0;
    padding: 0;
    position: absolute;
    height: 40px;
    text-align: center;
    color: white;
    font-family: SDSamliphopangche_Basic;
    border-radius: var(--br-3xs);
  }

  .m-control-foot .btn {
    font-size: 23px;
    top: 780px;
    width: 150px;
  }

  .m-control-foot .btn.modify {
    left: 580px;
    background-color: rgba(80, 70, 57, 1);
  }

  .m-control-foot .btn.withdrawal {
    left: 750px;
    background-color: red;
  }
}
